#cloud-config
package_update: true
packages:
  - nginx

write_files:
  - path: /var/www/html/index.html
    content: |
      <h1>Hello from Azure VM (B1s)!</h1>
      <p>Deployed via cloud-init</p>

runcmd:
  - systemctl enable nginx
  - systemctl start nginx